.bg{
  background-color:#198553 !important;
  height: 50px !important;
}
.navbar {
  background-color: white;
  height: 90px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.nav-item .nav-link{
    font-size: 15px !important;
    margin: 10px !important;
font-weight: bold;
}
.nav-item .nav-link:hover{
  content: " ";
  color:#198553;
}